<!DOCTYPE html>
<html>
  <head>
    <title>Final2019</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div style="margin-top: 40px">
      <% if user_signed_in? %>
        Welcome <%= current_user.name %>!&nbsp;&nbsp;
        <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-su", method: :delete %>
      <% end %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-su" %>
      </div>
      <%= yield %>
    </body>
  </html>
